body{
  background-image: url(image/bg.png);
}

.container{
  margin-bottom: 100px;
}

.carousel-bg{
  background-color: #fceae8;
  border-radius: 5px;
}

.carousel-item{
  padding: 20px 100px;
}

.carosol-img{
  margin: 10%;
}

.check-now-button{
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.check-now-button-margin{
  margin-left: 10%;
}

a:hover{
  color: purple;
}

.cat1{
  margin-bottom: 1%;
  color: white;
  background-image: linear-gradient(to left, #ff5858 0%, #ff1313 100%);
  border-radius: 8px;
}

.cat2{
  
  color: white;
  background-image:
  linear-gradient(to left, #7758ff 0%, #2b13ff 100%);
  border-radius: 8px;
}

.item-img-size{
  width: 25%;
  padding: 20px;
}

.cat1m{
  color: black;
  background-image: url(image/bg.png);
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgray;
}

.cat2h{
  color: black;
  background-image: url(image/bg.png);
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgray;
}
.skates-pic{
  height: 100%;
    
  }

  .card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
  }

.footer{
  padding: 2%;
  background-color: #fceae8;
  border-radius: 5px;
  
}

.margin-b-0{
  margin-bottom: 0;
}